@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/*pagina de sucesso*/
.bg-sucesso {
    text-align: center;
    padding: 40px 0;
    background: #EBF0F5;
  }
    .h1-sucesso {
      color: #88B04B;
      font-family: 'Poppins', sans-serif;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: #404F5E;
      font-family: 'Poppins', sans-serif;
      font-size:20px;
      margin: 0;
    }
  i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
  }
  .botao-sucesso{
    border: none;
    background-color: #9ABC66;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .3s linear;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
  }
  /*fim da pagina de sucesso*/
